.header {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
    background-image: url("./books.jpg");
    background-size: cover;
    background-position: center;
  }